<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simon Says game</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="simon_says">
  <div class="wrapper">
    <h1>
      Simon says {{intervalBetweenClicks}}
    </h1>
    <div class="play-area">
      <ul class="play-field">
        <li class="play-button"
            v-for="item in buttons"
            :class="item"
            @click="startPlayersMove(item)"
        ></li>
      </ul>
      <div class="dashboard">
        <h2>
          Round: {{round}}
        </h2>
        <button class="start-button" @click="startGame()">Start</button>
        <h2>Game speed:</h2>
        <select v-model="gameSpeed">
          <option value="easy" selected>Easy (interval = 1,5 second)</option>
          <option value="normal">Normal (interval = 1 second)</option>
          <option value="hard">Hard (interval = 0,4 second)</option>
        </select>
      </div>
    </div>
    <div class="modal" v-if="gameOver">
      <p>You lost after {{steps.length}} rounds</p>
      <button class="start-button" @click="clearGame()">OK</button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>

</body>
</html>
